@font-face {
  font-family: 'TTCommon';
  src:
    url('/fonts/TTRegular.woff2') format('woff2'),
    url('/fonts/TTRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}